body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10 20 10px rgba(20, 30,40, 0.1);
}

h1 {
    text-align: center;
    color: #0b3b57;
}

label {
    display: block;
    margin-top: 10px;
}

#name,#age, #calculateButton {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #b32a00;
}
